<div class="dog">

  <h1>Select Dog !</h1>
  <%= form_tag( {:action => 'index'}, :method => 'GET' ) do %>
    <h3>Bread List: <%= select_tag "breed", options_for_select(breed_dropdown_list, @breed_type) %></h3>
    <%= submit_tag( "Get Dog image" ) %>
  <% end %>
  <br/>
  <%= image_tag @breed_dog_url %>
  <h3><%= @breed.name.humanize %></h3>
</div>
